<!doctype html>
<html>
<head>
    <title>Add a Student</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Add a Student</h1>
    <form method="POST" action="/add">
        <br>
        <input type="text" name="student_name" placeholder="student name"><br>
        <input type="text" name="student_year" placeholder="student year"><br>
        <input type="submit" name="submit" value="submit">
    </form>
    <p><a href="{{url_for('home')}}">Home</a></p>
</body>
</html>
